<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% assign nav_links = site.data.navigation.main %}
        {% if page.lang == "zh-CN" %}
          {% assign nav_links = site.data.navigation.zh %}
        {% endif %}
        {% assign home_label = page.home_label | default: "Homepage" %}
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">{{ home_label }}</a></li>
          {% for link in nav_links %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if page.language_switch_url and page.language_switch_label %}
            <li class="masthead__menu-item masthead__menu-item--language"><a href="{{ page.language_switch_url }}">{{ page.language_switch_label }}</a></li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
